/**
 * @file
 * Which Environment? - Overlay CSS.
 */

.environment-checker {
    font: normal 20px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    text-align: center;
    padding: 2px;
    color: #aabbcc;
    background-color: #993333;
    opacity: .9;
    position: fixed; bottom: 0; right: 0;
    z-index: 10;
    width: 100%;
    height: auto;
}
